python_modules/
*.nc
mule_doc/
abhik/ancil/BIOMASS
abhik/ancil/USRANCIL
abhik/ancil/SULPEMIS
abhik/ancil/MASK
abhik/ancil/OROG
abhik/ancil/SMCSNOWD
abhik/ancil/DSOILTMP
abhik/ancil/ARCLBIOG
abhik/ancil/DMSCONC
abhik/ancil/veg_compare
abhik/ancil/SICEIN
abhik/ancil/SSTIN
abhik/ancil/SOOTEMIS
abhik/ancil/LANDFRAC
abhik/ancil/SOILTYPE
abhik/ancil/DUSTSOIL
abhik/ancil/RIVSTOR
abhik/ancil/RIVCHAN
abhik/ancil/FRACINIT
abhik/ancil/CHEMOXID
abhik/ancil/VEGINIT
